[submodule ".registry"]
	path = .registry
	url = https://github.com/openvolley/openvolley.r-universe.dev
	branch = HEAD
[submodule "auvolley"]
	path = auvolley
	url = https://github.com/openvolley/auvolley
[submodule "datavolley"]
	path = datavolley
	url = https://github.com/openvolley/datavolley
[submodule "editry"]
	path = editry
	url = https://github.com/scienceuntangled/editry
	registered = false
[submodule "fivbvis"]
	path = fivbvis
	url = https://github.com/openvolley/fivbvis
[submodule "minixml"]
	path = minixml
	url = https://github.com/coolbutuseless/minixml
	registered = false
[submodule "noder"]
	path = noder
	url = https://github.com/scienceuntangled/noder
	registered = false
[submodule "ovdata"]
	path = ovdata
	url = https://github.com/openvolley/ovdata
[submodule "ovideo"]
	path = ovideo
	url = https://github.com/openvolley/ovideo
[submodule "ovlytics"]
	path = ovlytics
	url = https://github.com/openvolley/ovlytics
[submodule "ovml"]
	path = ovml
	url = https://github.com/openvolley/ovml
[submodule "ovml.common"]
	path = ovml.common
	url = https://github.com/openvolley/ovml.common
[submodule "ovmlpy"]
	path = ovmlpy
	url = https://github.com/openvolley/ovmlpy
[submodule "ovpaged"]
	path = ovpaged
	url = https://github.com/openvolley/ovpaged
[submodule "ovplayer"]
	path = ovplayer
	url = https://github.com/openvolley/ovplayer
[submodule "ovscout"]
	path = ovscout
	url = https://github.com/openvolley/ovscout
[submodule "ovscout2"]
	path = ovscout2
	url = https://github.com/openvolley/ovscout2
[submodule "ovva"]
	path = ovva
	url = https://github.com/openvolley/ovva
[submodule "peranavolley"]
	path = peranavolley
	url = https://github.com/openvolley/peranavolley
[submodule "volleyreport"]
	path = volleyreport
	url = https://github.com/openvolley/volleyreport
[submodule "volleysim"]
	path = volleysim
	url = https://github.com/openvolley/volleysim
[submodule "volleyxml"]
	path = volleyxml
	url = https://github.com/openvolley/volleyxml
[submodule "vscoututils"]
	path = vscoututils
	url = https://github.com/openvolley/vscoututils
